[submodule "dropbox-clone-substrate"]
	path = dropbox-clone-substrate
	url = https://github.com/noormohammedb/dropbox-clone-substrate
   branch = master
[submodule "substrate-node-template"]
	path = substrate-node-template
	url = https://github.com/noormohammedb/substrate-node-template
   branch = main
[submodule "kitties-tutorial"]
	path = kitties-tutorial
	url = https://github.com/noormohammedb/substrate-kitties
   branch = master
[submodule "rust-practice"]
	path = rust-practice
	url = https://github.com/noormohammedb/rust-practice
   branch = master
